<nav class="navbar navbar-expand-lg navbar-dark container-fluid cornavbar sticky-top">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/1Cp6mD5.png
        " height="50" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto centralizar-links">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/sobre-nos'>Formigueiro</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href='#' routerLink='/inicio'>Posts</a>
            </li>
        </ul>
        <nav class="navbar navbar-light">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control" type="search" placeholder="Busque por algo" aria-label="Search">
              <button class="btn botaopesquisar" type="submit"><img src="https://i.imgur.com/sgGYLM2.png
                " height="20px" width="20px" alt="pesquisar"></button>
            </form>
          </nav>
          
    </div>
</nav>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgur.com/82eZKxw.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Junte-se ao nosso formigueiro!</h1>
          <p class="textoCarrossel1">Seja uma formiga incansável trabalhando em pró da colônia</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/82eZKxw.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/82eZKxw.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
        
        <section class="container fundoBranco text-center m-auto d-flex">
            <div class="row">
               <div class="col-md-6 chamadabox"> 
                  <h2>Missão do Formigueiro</h2>
                  <h3 class="letraEscura">Pensando em assegurar o acesso a habitações seguras e a custo razoável a pessoas em vulnerabilidade socioeconômica, surge a ForMigs. A nossa colônia está incansável em transformar esse espaço virtual em uma plataforma interativa para potencializar o alcance de ONGS e facilitar o network entre o três pilares do nosso público alvo:
                    ONGs, patrocinadores e voluntários.
                    </h3>
                  <button class="btn botaonavbar mb-5 mt-5 mr-3 ml-5" type="submit" routerLink='/sobre-nos'>Saiba mais</button>
              </div> 
              <div class="col-md-6 mt-5 mb-5 quadradoAmarelo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VfIcHSHB2XM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <app-sobre-nos></app-sobre-nos>
        </div>